.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.game-card {
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  border: solid 1px;
  border-color: #f0f0f0 #a0a0a0 #a0a0a0 #f0f0f0;
}

#hint_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;  
}
